.logo-container
{
	width:180px;
	height:75px;
	content:"";
	position:relative;
	top:-22px
}
.background
{
	position:absolute;
	top:0
}
.global-header
{
	height:94px
}
.global-header .static
{
	height:22px;
	background-color:#009bde
}
.global-header .static a
{
	color:#fff;
	padding-left:10px;
	padding-right:10px
}
.global-header .static .container
{
	width:960px;
	height:22px;
	padding-left:0;
	padding-right:0;
	padding-top:2px
}
.global-header .dynamic
{
	height:72px;
	background-color:#eff7f9;
	border-bottom-color:#d8d8d8;
	border-bottom-style:solid;
	border-bottom-width:1px
}
.global-header .dynamic .container
{
	width:960px;
	height:71px;
	padding-left:0;
	padding-right:0
}
#loggedInHomePage .global-header .dynamic
{
	background-color:#fff
}
.header-section
{
	padding-top:5px;
	padding-bottom:15px;
	padding-left:15px;
	padding-right:15px;
	border-left-color:#d8d8d8;
	border-left-style:solid;
	border-left-width:1px;
	height:72px
}
.header-section .text
{
	font-size:12px;
	color:#a8a7a7;
	margin-bottom:3px
}
.header-cart
{
	width:60px
}
.header-cart .icon-container
{
	color:#000;
	font-size:18px;
	margin:auto;
	height:25px
}
.header-cart .quantity-text
{
	font-weight:bold
}
.account-information
{
	width:135px
}
.account-information a[data-toggle=dropdown]
{
	color:#000
}
.account-information:hover .content,.account-information.open .content
{
	display:block
}
.account-information .content
{
	width:195px;
	display:none;
	position:absolute;
	top:0;
	background-color:#fff;
	border-width:1px;
	border-style:solid;
	border-color:#d8d8d8;
	box-shadow:0 2px 2px #888;
	z-index:2;
	padding-top:4px;
	padding-right:19px;
	padding-bottom:0;
	padding-left:18px;
	margin-top:0;
	margin-right:-19px;
	margin-bottom:-0px;
	margin-left:-19px
}
.account-information .content:hover
{
	display:block
}
.account-information .content .menu-items
{
	padding-top:5px
}
.account-information .content .container
{
	width:100%;
	height:auto
}
.account-information .screenname
{
	font-weight:bold
}
.account-information .points
{
	padding-top:5px
}
.account-information .rating
{
	padding-top:5px
}
.account-information .points-value
{
	font-weight:bold
}
.account-information .buy-more-points
{
	font-size:11px;
	font-weight:bold
}
.account-information .rating a
{
	font-weight:bold
}
.header-section.header-sbs
{
	border-left:none
}
.header-section.header-sbs .sbs-container
{
	position:relative;
	top:10px
}
.header-section.header-sbs .sbs-container .sbs-input
{
	border-width:1px;
	border-style:solid;
	border-color:#627170;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
	border-top-right-radius:0;
	border-bottom-right-radius:0;
	font-size:14px;
	padding-top:8px;
	padding-right:5px;
	padding-bottom:9px;
	padding-left:8px;
	width:250px;
	height:40px
}
.header-section.header-sbs .sbs-container .sbs-search-icon-container
{
	height:40px;
	cursor:pointer;
	background-color:#036789;
	border-width:1px;
	border-style:solid;
	border-color:#627170;
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
	margin-right:10px;
	padding-top:7px;
	padding-right:7px;
	padding-bottom:7px;
	padding-left:7px
}
.header-section.header-sbs .sbs-container .sbs-search-icon-container .sbs-icon
{
	margin-top:3.5px
}
.header-section.header-sbs .sbs-container .advanced
{
	margin-top:12px;
	white-space:nowrap
}
.header-section.contribution
{
	border-left:none
}
.header-section.contribution .btn-group
{
	top:10px
}
.contribution-widget,.button-tertiary
{
	background-color:#7aad4d;
	border-color:#5f8936;
	color:#fff
}
.widget-input
{
	border-width:1px;
	border-style:solid;
	border-color:#627170;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
	width:260px;
	padding-top:11px;
	padding-right:5px;
	padding-bottom:11px;
	padding-left:8px;
	margin-top:15px;
	font-size:14px;
	height:40px
}
.widget-action
{
	height:40px;
	margin-top:-3px
}
.header-add-contact,.header-add-company
{
	width:400px
}
.header-add-contact .disclaimer,.header-add-company .disclaimer
{
	color:#5b5b5b;
	font-size:11px
}
.proxy-banner
{
	z-index:1;
	width:100%;
	padding:5px;
	background-color:#444;
	color:#fff
}
.proxy-banner .proxy-input
{
	padding:5px
}
.proxy-banner .container
{
	width:100%
}
