<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="../app/js/md5.js"></script>
        <script type="text/javascript" src="../app/js/jquery.min.js"></script>
        <script type="text/javascript" src="../app/js/jquery.cookie.js"></script>   
        <script language="javascript" src="../app/js/angular.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/controler.js"></script>
        <script type="text/javascript" src="../app/js/myjavascript.js"></script>
    </head>
    <body ng-app="addminapp" ng-controller="AdminCtrl">
        <div>
            <button type="button" ng-click="getcompanyupdatelist()">show</button>
            <button type="button" ng-click="companyUpdate()">update</button>
            <button type="button" ng-click="deletecompanyUpdate()">delete All</button>
        </div>
        <div>
            <table width="100%" border="1" cellspacing="1" cellpadding="1" bgcolor="#F3F3F3" style="border-color:#0E56A2">
                <tr class="bluebg">
                    <td class="pd brd"><input ng-model="checkkAll.value" ng-change="isSelectedAll()" name="" type="checkbox" value=""> <span class="sl">select all</span></td>
                    <td class="pd brd">USER AND TIME</td>
                    <td class="pd brd">OLD NAME</td>
                    <td class="pd brd">NEW NAME</td>
                    <td class="pd brd">PHONE NUMBER</td>
                    <td class="pd brd">ADDRESS</td>
                    <td class="pd brd">CITY</td>
                    <td class="pd brd">STATE</td>
                    <td class="pd brd">ZIP</td>
                    <td class="pd brd">COUNTRY</td>
                    <td class="pd brd">URL</td>
                    <td class="pd brd">SIZE</td>
                    <td class="pd brd">REVENUE</td>
                    <td class="pd brd">OWNERSHIP</td>
                    <td class="pd brd">INDUSTRIES</td>
                </tr>
                <tr class="fadebg"  ng-repeat="conts in contacts track by $index">
                    <td class="pd brd">
                        <div align="center">
                            <input name="" type="checkbox"  ng-model="selectStatus[$index]" ng-change="isSelected($index,conts.ID)">
                        </div>
                    </td>
                    <td class="pd brd">
                        <span class="blu">{{conts.EMAILUSER}}</span>
                    </td>
                    <td class="pd brd">
                        <span class="blu">{{conts.ID}}</span>
                    </td>
                    <td class="pd brd">
                        <span class="blu">{{conts.NAME}}</span>
                    </td>
                    <td class="pd brd">
                        <span class="blu">{{conts.PHONE}}</span>
                    </td>
                    <td class="pd brd">
                        <span class="blu">{{conts.ADDRESS}}</span>
                    </td>
                    <td class="pd brd">
                        <span class="blu">{{conts.CITY}}</span>
                    </td>
                    <td class="pd brd">
                        <span class="blu">{{conts.STATE}}</span>
                    </td>
                    <td class="pd brd">
                        <span class="blu">{{conts.ZIP}}</span>
                    </td>
                    <td class="pd brd">
                        <span class="blu">{{conts.COUNTRY}}</span>
                    </td>
                    <td class="pd brd">
                        <span class="blu">{{conts.URL}}</span>
                    </td>
                    <td class="pd brd">
                        <span class="blu">{{conts.SIZE}}</span>
                    </td>
                    <td class="pd brd">
                        <span class="blu">{{conts.REVENUE}}</span>
                    </td>
                    <td class="pd brd">
                        <span class="blu">{{conts.OWNERSHIP}}</span>
                    </td>
                    <td class="pd brd">
                        <span class="blu">{{conts.INDUSTRIES}}</span>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>
