<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Admin Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="../app/js/md5.js"></script>
        <script type="text/javascript" src="../app/js/jquery.min.js"></script>
        <script type="text/javascript" src="../app/js/jquery.cookie.js"></script>   
        <script language="javascript" src="../app/js/angular.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/controler.js"></script>
        <script type="text/javascript" src="../app/js/myjavascript.js"></script>
    </head>
    <body ng-app="addminapp" ng-controller="AdminCtrl">
        <div>
            <form  action="#" autocomplete="on" method="post"> 
                    <h1>Log in</h1> 
                    <p> 
                        <label for="username" class="uname" data-icon="u" > Username </label>
                        <input ng-model="username" id="username" name="username" required="required" type="text" placeholder="myusername or mymail@mail.com"/>
                    </p>
                    <p> 
                        <label for="password" class="youpasswd" data-icon="p"> Password </label>
                        <input ng-model="password" id="password" name="password" required="required" type="password" placeholder="eg. X8df!90EO" />                                     
                    </p>
                    <p class="login button-login"> 
                        <input id="loginBtn" type="button" value="Login" ng-click="adminLogin()"/> 
                    </p>
                </form>
        </div>
    </body>
</html>
