<form method="post" class="signin" action="#">
    <span><strong>Change Password:</strong></span>
    <div>
        <input ng-model="oldPassword" style="display: block;width: 400px;" type="password" placeholder="Enter old password">
        <input ng-model="newPassword" style="display: block; margin-top: 10px;width: 400px;" type="password" placeholder="Enter new password">
        <input ng-model="confirmPassword" style="display: block; margin-top: 10px;width: 400px;" type="password" placeholder="Confirm new passwrod">
        <span style="color: red;display: block; font-size: 15px">{{changepasswordnotice}}</span>
        <button style="margin-top: 10px" type="button" ng-click="updatePassword()">Change Password</button>
    </div>
</form>