#divMenu, ul, li, li li {
/*
    margin: 0;

    padding: 0;*/

}

 

#divMenu {

   /* width: 185px;

    height: 27px;*/
  
}

 

#divMenu ul

{

    /* line-height: 25px;*/

}

 

    #divMenu li {

        list-style: none;

        position: relative;

 /*      background-color:#5F9211;*/

    }

 

        #divMenu li li {

            list-style: none;


            background-color:#0E56A2;

              padding:1% 0 1% 5%;
			  font-size:14px;

        }

 

   #divMenu li li:hover {



            background-color:#00bdff;


        }

    #divMenu ul li a {

      /*  width: 182px;

        height: 25px;*/

        display: block;

       /* text-decoration: none;

        text-align: center;


        color:#ffffff;

        border:1px solid #eee;*/

    }

 

    #divMenu ul ul {

        position: static;

        visibility: hidden;


    }

   #divMenu ul li ul {
       margin:2% 0;
        visibility: hidden;
		height:0;
		display:none;

    }

    #divMenu ul li:hover ul {

        visibility: visible;
		height:auto;
		display:block;

    }

 

    #divMenu li:hover {

     /*   background-color: #55830F;*/

    }

 

    #divMenu ul li:hover ul li a:hover {

     /*   background-color: #55830F;*/

    }

 

    #divMenu a:hover {

       /* font-weight: bold;*/

    }