<div class="company-page col-sm-9" style="padding-left: 0px;">
	<div class="header-company">Contact</div>
	<div class="detail-contact row">
		<div class="info_contact col-sm-7">
                        <!--<button type="button" ng-click="goBackToResult()">Go Back to Result!</button>-->
			<div class="name_contact">
				{{contactInfo.FIRSTNAME +" "+contactInfo.LASTNAME}}
			</div>
			<div class="name_rank">
					TITLE: {{contactInfo.TITLE}}
			</div>
			<div class="name_info">
					EMAIL: {{contactInfo.EMAIL}}
			</div>
		</div>
		<div class="edit_contact col-sm-4">
			<div class="contact_detail">
                            <a class="update-details" id="updateContact" popupform="#login-box">Update Contact</a></br>
			</div>
		</div>
	</div>
	<div class="detail-info row">
		<div class="info_company col-sm-7">
                    <div class="name_company">
                            {{company.NAME}}
                    </div>
                    <div class="add_company">
                            ADDRESS: {{company.ADDRESS}}
                    </div>
                    <div class="phone_company">
                            PHONE: {{company.PHONE}}
                    </div>
                    <div class="website_company">
                            WEBSITE: {{company.URL}}
                    </div>
                    <div class="revenue_company">
                            Revenue :{{company.REVENUE}}
                    </div>
                    <div class="employee_company">
                            Employee : {{company.SIZE}}
                    </div>
                    <div class="employee_company">
                            Industry : {{company.INDUSTRIES}}
                    </div>
		</div>
		<div class="connect_company col-sm-4">
		<div class="company_detail">
                    <a href-void class="update-details" ng-click="showCompanyPage()">Update Company Details</a>
		</div>
                    <!-- Do not display this at the moment
                    <div class="connect_company_icon">
			<div class="label-connect">
				Connect
			</div>
			<div class="icon-connect">
				<input type="image" src="img/facebook.png">
				<input type="image" src="img/gplus.png">
				<input type="image" src="img/twitter.png">
			</div>
                    </div>
                    -->
		
	</div>
	</div>
</div>