<div class="container-fluid">
	<div class="row">
            <div class="col-md-2" style="background-color: #8DD9F1;">
                    <div class="header-company" style="margin-top: 0px;padding-left: 0px;padding-top: 5px"></div>
		</div>
		<div class="col-md-8" style="
    background-color: #8DD9F1;
">
                    <div class="header-company" style="margin-top: 0px;padding-left: 0px;padding-top: 5px">My Credit</div>
		</div>
		<div class="col-md-2" style="background-color: #8DD9F1;">
                    <div class="header-company" style="margin-top: 0px;padding-left: 0px;padding-top: 5px"></div>
		</div>
	</div>
    <div class="row" >
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
			<h3 style="
    margin-top: 50px;
">
				My Credit
			</h3>
			<div class="row" style="background-color: #D2F4FE;">
				<div class="col-md-6">
					<p style="font-size: 20px;margin-top: 40px;margin-left: 30px;">Current Plan : {{currentPlan}}</p>
                                        <p style="font-size: 20px;margin-top: 40px;margin-left: 30px;margin-bottom: 45px;"> Available Credit : {{availableCredit}}
						
					</p>
				</div>
				<div class="col-md-6">
                                    <div class="company_detail" style="margin-top: 45px;margin-left: 30px;">
                                        <a class="update-details" id="showSubcriForm" popupform="#paymentform">Upgare Your Plan</a>
                                    </div>
                                    <div style="margin-top: 50px;margin-left: 30px;" class="company_detail">
                                        <a class="update-details" id="showUnscribForm" popupform="#unscribsionform">Cancle Membership</a>
                                    </div>
				</div>
			</div>
		</div>
		<div class="col-md-2">
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
			<h3 style="
    margin-top: 50px;
">
				My Billing
			</h3>
			<div class="row" style="background-color: #D2F4FE;">
				<div class="col-md-6">
					<p style="font-size: 20px;
                                            margin-top: 40px;
                                            margin-left: 30px;
                                        ">Subscribed On : {{scribOn}}</p>
                                        <p style="font-size: 20px;      margin-top: 40px;      margin-left: 30px;margin-bottom: 40px;"> 
                                            Transaction :
						
					</p>
				</div>
				<div class="col-md-6">
				</div>
			</div>
		</div>
		<div class="col-md-2">
		</div>
	</div>
</div>