<div class="container-fluid">
    <div class="credit-class">
        <div id="pricing-table" class="clear">
            <div class="plan">
                <h3>Sliver<span>$49</span></h3>
                <a id="subcribeSliver" valueCredit="1000 Credit" class="signup" href="#">Subcribe</a>         
                <ul>
                    <li><b>1000 Credit</b></li>
                    <li><b>Easy export to CVS</b></li>
                    <li><b>1000 contact</b> per month</li>
                    <li><b>Upgrade to other plan any time</b></li>
                </ul> 
            </div>
            <div class="plan" id="most-popular">
                <h3>Gold<span>$99</span></h3>
                <a id="subcribeGold" valueCredit="2000 Credit" class="signup" href="#">Subcribe</a>        
                <ul>
                    <li><b>2000 Credit</b></li>
                    <li><b>Easy export to CVS</b></li>
                    <li><b>2000 contact</b> per month</li>
                    <li><b>Upgrade to other plan any time</b></li>
                </ul>    
            </div>
            <div class="plan">
                <h3>Platinum<span>$199</span></h3>
                        <a id="subcribePlatinum" valueCredit="4500 Credit" class="signup" href="#">Subcribe</a>
                <ul>
                    <li><b>4.5000 Credit</b></li>
                    <li><b>Easy export to CVS</b></li>
                    <li><b>4.5000 contact</b> per month</li>
                    <li><b>Upgrade to other plan any time</b></li>
                </ul>
            </div>
            <div class="plan">
                <h3>Diamond<span>$399</span></h3>
                <a id="subcribeDiamond" valueCredit="10000 Credit" class="signup" href="#">Subcribe</a>		
                <ul>
                    <li><b>10.000 Credit</b></li>
                    <li><b>Easy export to CVS</b></li>
                    <li><b>10.000 contact</b> per month</li>
                    <li><b>Upgrade to other plan any time</b></li>
                </ul>
            </div> 	
        </div>
    </div>
    <div>
        <h3 style="margin-top: 50px;">My Credit</h3>
        <div class="row" style="background-color: #CCCCCC;">
            <div class="col-md-6">
                <p style="font-size: 20px;margin-top: 40px;margin-left: 30px;">Current Plan : {{currentPlan}}</p>
                <p style="font-size: 20px;margin-top: 40px;margin-left: 30px;margin-bottom: 45px;"> Available Credit : {{availableCredit}}</p>
            </div>
            <div class="col-md-6">
                <div class="company_detail" style="margin-top: 45px;margin-left: 30px;">
                    <a class="update-details" id="showSubcriForm" popupform="#paymentform">Upgare Your Plan</a>
                </div>
                <div style="margin-top: 50px;margin-left: 30px;" class="company_detail">
                    <a class="update-details" id="showUnscribForm" popupform="#unscribsionform">Cancle Membership</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h3 style="margin-top: 50px;">My Billing</h3>
        <div class="row" style="background-color: #CCCCCC;">
            <div class="col-md-6">
                <p style="font-size: 20px;margin-top: 40px;margin-left: 30px;">Subscribed On : {{scribOn}}</p>
                <p style="font-size: 20px;margin-top: 40px;margin-left: 30px;margin-bottom: 40px;">Transaction :</p>
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>        
</div>