<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="4YFWUJ9UKFB5G">
    <table>
    <tr>
        <td><input type="hidden" name="on0" value="Credit">Credit</td>
    </tr>
    <tr>
        <td>
            <select id="paypalOptionPlan" name="os0">
                <option id="option49" value="1000 Credit">1000 Credit : $49.00 USD - monthly</option>
                <option id="option99" value="2000 Credit">2000 Credit : $99.00 USD - monthly</option>
                <option id="option199" value="4500 Credit">4500 Credit : $199.00 USD - monthly</option>
                <option id="option399" value="10000 Credit">10000 Credit : $399.00 USD - monthly</option>
            </select>
        </td>
    </tr>
    </table>
    <input type="hidden" name="custom" value="{{userID}}">
    <input type="hidden" name="currency_code" value="USD">
    <input id="paypalSubmitButton" type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>