<div id="basicInfo" class="company-info-container ui-tabs-panel ui-widget-content ui-corner-bottom" aria-labelledby="companyBasicInfo" role="tabpanel" aria-expanded="true" aria-hidden="false">
    <form id="companyInfoForm" class="form" action="/company/view/852820" method="post">
        <div class="company-info">
            <table>
                <tbody>
                    <tr>
                        <td class="form-section-label">Website</td>
                        <td class="company-info-data"><a href="http://www.abcsheetmetal.com" target="_blank">www.abcsheetmetal.com</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="form-section-label">Headquarters</td>
                        <td class="company-info-data">
                            2871 E La Cresta Ave<br>
                            Anaheim, CA  92806-1817<br>
                            United States&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td class="form-section-label">Phone</td>
                        <td class="company-info-data">+1.714.630.6200</td>
                    </tr>
                    <tr>
                        <td class="form-section-label">Industries</td>
                        <td class="company-info-data">
                            Manufacturing, Manufacturing Other<br>
                            
	                            Real Estate &amp; Construction, Construction and Remodeling<br>
	                        
	                        
	                            Real Estate &amp; Construction, Construction Equipment and Supplies
	                        
                        </td>
                    </tr>
                    <tr>
                        <td class="form-section-label">Employees</td>
                        <td class="company-info-data">
                            
                               0 - 25
                               
                           
                        </td>
                    </tr>
                    <tr>
                        <td class="form-section-label">Revenue</td>
                        <td class="company-info-data">		                    
	                           $0 - 1M
	                           
	                       
                        </td>
                    </tr>
                    <tr>
                        <td class="form-section-label">Ownership</td>
                        <td class="company-info-data">Privately Held
                        </td>
                    </tr>
                    <tr>
                        <td class="form-section-label">Last Updated</td>
                        <td class="company-info-data">
                            <a id="lastUpdatedScreenName" href="/user/profile/LongRay65">LongRay65</a> on 11/08/12
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="clear"></div>        
    </form>
</div>