<div class="company-page col-sm-9" style="padding-left: 0px;">
	<div class="header-company">Contact</div>
	<div class="detail-contact row">
		<div class="info_contact col-sm-5">
                        <!--<button type="button" ng-click="goBackToResult()">Go Back to Result!</button>-->
			<div class="name_contact">
				Thank for your update!!
			</div>
			<div class="name_rank">
				The details will update after Admin confirm!!
			</div>
		</div>
		<div class="edit_contact col-sm-4">
			<div class="contact_detail">                            
			</div>
		</div>
	</div>
</div>